@model IEnumerable<CarRental.Models.TbMenu>

@{
	ViewData["Title"] = "Quản lý menu";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	List<TbMenu> menus = ViewBag.Menu;
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-sm-12 col-xl-12">
			<div class="rounded h-100 p-4">
				<h1 class="mb-4">Quản lý menu</h1>
				<p class="mb-4">
					<a asp-action="Create">Tạo menu mới</a>
				</p>
				<table class="table table-hover table-dark">
					<thead>
						<tr>
							<th scope="col">STT</th>
							<th scope="col">Tiêu đề</th>
							<th scope="col">Đường dẫn</th>
							<th scope="col">Vị trí</th>
							<th scope="col">Menu cha</th>
							<th scope="col">Đường dẫn nhanh</th>
							<th scope="col" style="width:250px"></th>
						</tr>
					</thead>
					<tbody>
						@{
							int STT = 0;
						}
						@foreach (var item in Model)
						{
							STT += 1;
							if (item.ParentMenu == 0)
							{
								<tr>
									<td>
										@STT
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Title)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Alias)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Position)
									</td>
									<td>
										<p>Không có</p>
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.IsQuickLink)
									</td>
									<td>
										<a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Idmenu">Sửa</a> |
										<a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Idmenu">Chi tiết</a> |
										<a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Idmenu">Xóa</a>
									</td>
								</tr>
							}
							else
							{
								<tr>
									<td class="text-primary">
										@STT
									</td>
									<td class ="text-primary">
										@Html.DisplayFor(modelItem => item.Title)
									</td>
									<td class="text-primary">
										@Html.DisplayFor(modelItem => item.Alias)
									</td>
									<td class ="text-primary">
										@Html.DisplayFor(modelItem => item.Position)
									</td>
									<td class="text-primary">
										@Html.DisplayFor(modelItem => menus.Where(m => m.Idmenu == item.ParentMenu).FirstOrDefault().Title)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.IsQuickLink)
									</td>
									<td>
										<a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Idmenu">Sửa</a> |
										<a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Idmenu">Chi tiết</a> |
										<a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Idmenu">Xóa</a>
									</td>
								</tr>
							}
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

