@model CarRental.Models.TbTestimonial

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-sm-12 col-xl-12">
			<div class="bg-secondary rounded h-100 p-4">
				<h1 class="mb-4">Xóa đánh giá</h1>
				<h3>Bạn có chắc muốn xóa đánh giá này?</h3>
				<dl class="row text-white">
					<dt class="col-sm-2 mt-3">
						Tên
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.Name)
					</dd>
					<dt class="col-sm-2 mt-3">
						Doanh nghiệp
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.Profession)
					</dd>
					<dt class="col-sm-2 mt-3">
						Chi tiết
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.Detail)
					</dd>
					<dt class="col-sm-2 mt-3">
						Số sao
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.Star)
					</dd>
					<dt class="col-sm-2 mt-3">
						Ảnh
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.Image)
					</dd>
				</dl>
				<hr style="color:white" />
				<form asp-action="Delete">
					<input type="hidden" asp-for="Idtestimonial" />
					<input type="submit" value="Xóa đánh giá" class="btn btn-danger" /> |
					<a asp-action="Index">Quay lại danh sách</a>
				</form>
			</div>
		</div>
	</div>
</div>

