@model CarRental.Models.TbProductionModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbProductionModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatingCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatingCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Describe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Describe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Star)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Star)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdautomakerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdautomakerNavigation.Idautomaker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddriverCapabilitiesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddriverCapabilitiesNavigation.IddriverCapabilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdfuelNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdfuelNavigation.Idfuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdgearboxNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdgearboxNavigation.Idgearbox)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdproductionModel" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
