@model CarRental.Models.TbProductionModel

@{
	ViewData["Title"] = "Xóa mẫu xe";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-sm-12 col-xl-12">
			<div class="bg-secondary rounded h-100 p-4">
				<h1 class="mb-4">Xóa mẫu xe</h1>
				<h3>Bạn có chắc muốn xóa mẫu xe này?</h3>
				<dl class="row text-white">
					<dt class="col-sm-2 mt-3">
						Hãng xe
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.IdautomakerNavigation.AutomakerName)
					</dd>
					<dt class="col-sm-2 mt-3">
						Tên mẫu xe
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.ProductionModelName)
					</dd>
					<dt class="col-sm-2 mt-3">
						Chỗ ngồi
					<dd class="col-sm-10 mt-3">
							@Html.DisplayFor(model => model.SeatingCapacity)
					</dd>
					<dt class="col-sm-2 mt-3">
						Hộp số
					</dt>
					<dd class="col-sm-10 mt-3">
							@Html.DisplayFor(model => model.IdgearboxNavigation.GearboxName)
					</dd>
					<dt class="col-sm-2 mt-3">
						Nhiên liệu
					</dt>
					<dd class="col-sm-10 mt-3">
							@Html.DisplayFor(model => model.IdfuelNavigation.FuelName)
					</dd>
					<dt class="col-sm-2 mt-3">
						Sao
					</dt>
					<dd class="col-sm-10 mt-3">
							@Html.DisplayFor(model => model.Star)
					</dd>

					<dt class="col-sm-2 mt-3">
						Kiểu lái
					</dt>
					<dd class="col-sm-10 mt-3">
							@Html.DisplayFor(model => model.IddriverCapabilitiesNavigation.DriverCapabilitiesName)
					</dd>
				</dl>
				<hr style="color:white" />
				<form asp-action="Delete">
					<input type="hidden" asp-for="IdproductionModel" />
					<input type="submit" value="Xóa mẫu xe" class="btn btn-danger" /> |
					<a asp-action="Index">Quay lại danh sách</a>
				</form>
			</div>
		</div>
	</div>
</div>
