@model IEnumerable<CarRental.Models.TbProductionModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeatingCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Describe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdautomakerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddriverCapabilitiesNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdfuelNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdgearboxNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeatingCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Describe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Star)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdautomakerNavigation.Idautomaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddriverCapabilitiesNavigation.IddriverCapabilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdfuelNavigation.Idfuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdgearboxNavigation.Idgearbox)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdproductionModel">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdproductionModel">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdproductionModel">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
